@import url('http://fonts.cdnfonts.com/css/harry-potter');
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Harry Potter', sans-serif;
      font-weight: 50;
      font-size: medium;
      color: black;
  }
  body {
      background-image: url("backgroundmain.jpg");
  }
  div.Starting
  {
      font-size:x-large;
      margin: 30px;
      background-color: lightgray;
      opacity: 0.7;
      min-width: 50vw;
      min-height: 85vh;
      padding: 5%;
      place-items: center;
      text-align: center;
      align-self: center;
      border-radius: 0.7rem;
  }
  div.transbox
  {
      margin: 30px;
      background-color: lightgray;
      opacity: 0.7;
      min-width: 50vw;
      min-height: 85vh;
      padding: 5%;
      place-items: center;
      text-align: center;
      align-self: center;
      border-radius: 0.7rem;
  }
  div.transbox p 
  {
      margin: 5%;
      color: #000000;
  }
  .inner-div h2{
      font-size: 1.5rem;
      font-weight: 500;
      margin-top: 1rem 0 4rem 0;
  }
  .a {
      font-size: 2rem;
      font-weight: 500;
      margin-top: 1.5rem;
  }
  input{
      cursor: pointer;
  }
  /* .button
  {
      padding: 1rem 3rem;
      outline: none;
      font-size: 2rem;
      font-size: 400;
      color: silver;
      display: block;
      margin: auto;
      border: none;
      text-transform: uppercase;
      color: seashell;
      background-color: rgb(75, 11, 11);
      margin-top: 4rem;
      cursor: pointer;
      border-radius: 0.7rem;
  } */
  #submit, .btn, .button, .restart{
      padding: 1rem 3rem;
      outline: none;
      font-size: 2rem;
      font-size: 400;
      color: silver;
      display: block;
      margin: auto;
      border: none;
      text-transform: uppercase;
      color: seashell;
      background-color: rgb(75, 11, 11);
      margin-top: 4rem;
      cursor: pointer;
      border-radius: 0.7rem;
  }
  #submit:hover {
      background-color: rgb(138, 23, 50);
  }
  #showScore {
      background-color: #3b0612;
      margin-top: 3rem;
      padding: 3rem 4rem;
      box-shadow: 0 1rem 1rem -0.7rem rgba(0, 0, 0, 0.4);
  
  }
  #showScore h3{
      font-size: 3rem;
      color: snow;
      text-align: center;
  
  }
  #showScore .btn {
      margin-top: 2rem;
      background-color: rgb(141, 68, 0);
      border: thick;
      border-radius: 5rem;
      border-color: rgb(0, 0, 0);
      color: #f5f1ef;
  }
  #showScore .btn:hover {
      background-color: #9b0d0d;
      color: #fff;
  }
  .scoreArea{
      display: none;
  }